<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Shakil Mahmud</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'resume/css/bootstrap.min.css' %}" >
    <!-- Fonts -->
    <link rel="stylesheet" type="text/css" href="{% static 'resume/fonts/font-awesome.min.css' %}">
    <!-- Icon -->
    <link rel="stylesheet" type="text/css" href="{% static 'resume/fonts/simple-line-icons.css' %}">
    <!-- Slicknav -->
    <link rel="stylesheet" type="text/css" href="{% static 'resume/css/slicknav.css' %}">
    <!-- Menu CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'resume/css/menu_sideslide.css' %}">
    <!-- Slider CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'resume/css/slide-style.css' %}">
    <!-- Nivo Lightbox -->
    <link rel="stylesheet" type="text/css" href="{% static 'resume/css/nivo-lightbox.css' %}" >
    <!-- Animate -->
    <link rel="stylesheet" type="text/css" href="{% static 'resume/css/animate.css' %}">
    <!-- Main Style -->
    <link rel="stylesheet" type="text/css" href="{% static 'resume/css/main.css' %}">
    <!-- Responsive Style -->
    <link rel="stylesheet" type="text/css" href="'{% static 'resume/css/responsive.css' %}">

  </head>
  <body>

    <!-- Header Area wrapper Starts -->
    <header id="header-wrap">
      <!-- Navbar Start -->
      <nav class="navbar navbar-expand-lg fixed-top scrolling-navbar indigo">
        <div class="container">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-navbar" aria-controls="main-navbar" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
              <span class="icon-menu"></span>
              <span class="icon-menu"></span>
              <span class="icon-menu"></span>
            </button>
            <a href="index.html" class="navbar-brand"></a>
          </div>
          <div class="collapse navbar-collapse" id="main-navbar">
            <ul class="onepage-nev navbar-nav mr-auto w-100 justify-content-end clearfix">
              <li class="nav-item active">
                <a class="nav-link" href="#hero-area">
                  Home
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#about">
                  About
                </a>
              </li>
              
              <li class="nav-item">
                <a class="nav-link" href="#education">
                  Education
                </a>
              </li>
              
              <li class="nav-item">
                  <a class="nav-link" href="#education">
                    Experience
                  </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#projects">
                  Projects
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#skills">
                  Skills
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#contact">
                  Contact
                </a>
              </li>
            </ul>
          </div>
        </div>

        <!-- Mobile Menu Start -->
        <ul class="onepage-nev mobile-menu">
          <li>
            <a href="#home">Home</a>
          </li>
          <li>
            <a href="#about">about</a>
          </li>
          <li>
            <a href="#education">Education</a>
          </li>
          <li>
            <a href="#education">Experience</a>
          </li>
          <li>
            <a href="#projects">Projects</a>
          </li>
          <li>
            <a href="#skills">Skills</a>
          </li>
          <li>
            <a href="#contact">Contact</a>
          </li>
        </ul>
        <!-- Mobile Menu End -->
      </nav>
      <!-- Navbar End -->

      <!-- Hero Area Start -->
      <div id="hero-area" class="hero-area-bg">
        <div class="overlay"></div>
        <div class="container">
          <div class="row">
            <div class="col-md-12 col-sm-12 text-center">
              <div class="contents">
                <h5 class="script-font wow fadeInUp" data-wow-delay="0.2s">Hi This is</h5>
                <h2 class="head-title wow fadeInUp" data-wow-delay="0.4s">Shakil Mahmud</h2>
                <p class="script-font wow fadeInUp" data-wow-delay="0.6s"></p>
                <ul class="social-icon wow fadeInUp" data-wow-delay="0.8s">
                  <li>
                    <a class="facebook" href="https://www.facebook.com/shakil1473" target="_blank"><i class="icon-social-facebook"></i></a>
                  </li>

                  <li>
                    <a class="twitter" href="https://github.com/shakil1473" target="_blank"><i class="icon-social-github"></i></a>
                  </li> 
<!--                  
                  <li>
                    <a class="google" href="#" target="_blank"><i class="icon-social-google"></i></a>
                  </li>
-->
                  <li>
                    <a class="instagram" href="https://www.instagram.com/shakil1473/" target="_blank"><i class="icon-social-instagram" ></i></a>
                  </li>
                  <li>
                    <a class="linkedin" href="https://www.linkedin.com/in/shakil1473/" target="_blank"><i class="icon-social-linkedin" ></i></a>
                  </li>

                </ul>
                <div class="header-button wow fadeInUp" data-wow-delay="1s">
                  <a href="{% static '/resume/resume/Shakil_Mahmud.pdf' %}" target="_blank" content-tpe: application/pdf class="btn btn-common">Resume</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Hero Area End -->

    </header>
    <!-- Header Area wrapper End -->

    <!-- About Section Start -->
    <div id="about">
        <section class="section-padding">
            <div class="container">
              <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                  <div class="img-thumb wow fadeInLeft" data-wow-delay="0.3s">
                    <img class="img-fluid" src="{% static 'resume/img/about/about-1.jpg' %}" alt="">
                  </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                  <div class="profile-wrapper wow fadeInRight" data-wow-delay="0.3s">
                    <h3>Hi!</h3>
                    <p>I am Shakil Mahmud. I have completed my Secondary School Certificate(SSC) in 2012 and Higher Secondary Certificate(HSC) in 2014 with a gpa 5.00.
          Both of my SSC and HSC are from Comilla Cadet College. I have got A+ in all the subject in my SSC and HSC. In November 2018, I have completed my B.Sc.
          in Computer Science and Engineering from Islamic University of Technology(IUT). IUT is a subsidiary organ of Organisation of Islamic Cooperation(OIC).
          </p>
                    <div class="about-profile">
                      <ul class="admin-profile">
                        <li><span class="pro-title"> Name </span> <span class="pro-detail">Shakil Mahmud</span></li>
                        <li><span class="pro-title"> Address </span> <span class="pro-detail">E/56, Shahid Porimal Road</span></li>
                        <li><span class="pro-title"> Post No</span> <span class="pro-detail">2240</span></li>
                        <li><span class="pro-title"> Post Office</span> <span class="pro-detail">Bhaluka</span></li>
                        <li><span class="pro-title"> District</span> <span class="pro-detail">Mymensingh</span></li>
                        <li><span class="pro-title"> Country </span> <span class="pro-detail">Bangladesh</span></li>
                        <li><span class="pro-title"> e-mail </span> <span class="pro-detail">shakil473@gmail.com</span></li>
                        <li><span class="pro-title"> Phone </span> <span class="pro-detail">+8801742220701</span></li>
                      </ul>
                    </div>
                    <a href="{% static '/resume/resume/Shakil_Mahmud.pdf' %}" class="btn btn-common"><i class="icon-paper-clip"></i> Download Resume</a>

                  </div>
                </div>
              </div>
            </div>
          </section>
    </div>
    <!-- About Section End -->
    <hr>
    <!-- Resume Section Start -->
    <div id="education" class="section-padding">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-6">
            <div class="education wow fadeInRight" data-wow-delay="0.3s">
              <ul class="timeline">
                <li>
                  <i class="icon-graduation"></i>
                  <h2 class="timelin-title">Education</h2>
                </li>
                <li>
                  <div class="content-text">
                    <h3 class="line-title">Bachelor of Science - Islamic University of Technology</h3>
                    <span>January 2015 - November 2018</span>
                    <p class="line-text">
                        <div class="about-profile">
                          <ul class="admin-profile">
                            <p><span class="pro-title">Major</span>Computer Science and Engineering</p>
                            <p><span class="pro-title">CGPA</span>3.45 out of 4.00</p>
                            <p><span class="pro-title">Thesis</span>Searchable Encryption</p>
                            <p><span class="pro-title">Medium</span>English</p>
                          </ul>
                    </p>
                  </div>
                </li>
                <li>
                  <div class="content-text">
                    <h3 class="line-title">Higher Secondary Certificate - Comilla Cadet College</h3>
                    <span>2014</span>
                    <p class="line-text">
                        <div class="about-profile">
                          <ul class="admin-profile">
                            <p><span class="pro-title">Group</span>Science</p>
                            <p><span class="pro-title">GPA</span>5.00 out of 5.00</p>
                            <p><span class="pro-title">Board</span>Comilla</p>
                            <p><span class="pro-title">Medium</span>English</p>
                          </ul>

                    </p>
                  </div>
                </li>
                <li>
                    <div class="content-text">
                      <h3 class="line-title">Secondary School Certificate- Comilla Cadet College</h3>
                      <span>2012</span>
                      <p class="line-text">
                          <div class="about-profile">
                            <ul class="admin-profile">
                              <p><span class="pro-title">Group</span>Science</p>
                              <p><span class="pro-title">GPA</span>5.00 out of 5.00</p>
                              <p><span class="pro-title">Board</span>Comilla</p>
                              <p><span class="pro-title">Medium</span>English</p>
                            </ul>

                      </p>
                      <span class="line-text">One of the best institution of Bangladesh. The institution is ran by the Governing Body of Bangladesh
                          Army. A strong discipline is maintained. Various social, co-curricular and extra-curricular activities are practiced in cadet colleges
                          directly contribute to the proper and balanced grooming of cadets</span>
                    </div>
                  </li>
              </ul>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6">
            <div class="experience wow fadeInRight" data-wow-delay="0.6s">
              <ul class="timeline">
                <li>
                  <i class="icon-briefcase"></i>
                  <h2 class="timelin-title">Experience</h2>
                </li>
                <li>
                  <div class="content-text">
                    <h3 class="line-title">LinkVision Software Solution</h3>
		                <span><h4 class="line-title">Intern</h4></span>
                    <span>July 2018 - October 2018</span>
                    <p class="line-text">I have worked on web development projects based on python and django framework. </p>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Resume Section End -->
    <hr>
    <!-- Resume Section Start -->
    <div id="projects" class="section-padding">
        <div class="container">
          <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6">
              <div class="education wow fadeInRight" data-wow-delay="0.3s">
                <ul class="timeline">

                  <li>
                    <i class="icon-briefcase"></i>
                    <h2 class="timelin-title">Projects</h2>
                  </li>
                  <li>
                    <div class="content-text">
                      <h3 class="line-title">Find Blood Donor</h3>
                        <p>Android app in java language to find blood donors. Blood donor's information are retrieved from firebase matched with
                          the searched blood group.</p>
                    </div>
                  </li>
                  <li>
                    <div class="content-text">
                      <h3 class="line-title">Find Car</h3>
                        <p>A console-based software using c++ and MySQL as database to find available cars in the selected route. Drivers need
                          to make them available by signing in their account to be hired.</p>
                    </div>
                  </li>
                  <li>
                    <div class="content-text">
                      <h3 class="line-title">Bank Management System</h3>
                        <p>console-based software for a bank manager to manage customer’s bank accounts like opening new accounts, deleting
                          account, money deposits and withdrawal option. Developed by c++ in Microsoft visual studio and customers data managed
                          by c++ file system.</p>
                    </div>
                  </li>
                  <li>
                    <div class="content-text">
                      <h3 class="line-title">My ToDo List</h3>
                        <p>Android app in java language to find blood donors. Blood donor's information are retrieved from firebase matched with
                          the searched blood group.</p>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
              <div class="experience wow fadeInRight" data-wow-delay="0.6s">
                <ul class="timeline">
                  <li></li>
                  
                  <br/>
                  <li>
                    <div class="content-text">
                      <h3 class="line-title">Hotel Management System</h3>
                        <p>Developed by java and oracle database for backend with the features of searching, booking and also cancelling 
                          reservation as a customer. Admin can add, remove, update rooms information.</p>
                    </div>
                  </li>
                  <li>
                    <div class="content-text">
                      <h3 class="line-title">Student Database Management System</h3>
                        <p>A system for school administration to manage student’s information like adding new students, edit or delete student 
                          information. Developed by c++ in Microsoft visual studio and used c++ file system to manage student data.</p>
                    </div>
                  </li>
                  <li>
                    <div class="content-text">
                      <h3 class="line-title">Bus Management System</h3>
                        <p>Developed by c and c file system for managing information for both admin and customers. Reserving seats, changing or 
                          cancelling the reservation are features for passengers along with search option. Admin features are adding, removing or 
                          updating bus routes and information.</p>
                    </div>
                  </li>
                  <li>
                    <div class="content-text">
                      <h3 class="line-title">Weather-Info</h3>
                        <p>Android app in java language to find blood donors. Blood donor's information are retrived from firebase matched with 
                          the searched blood group.</p>
                    </div>
                  </li>
                 
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Resume Section End -->
      <hr>
    <!-- Skills Section Start -->
    <section id="skills" class="services section-padding">
        <h2 class="section-title wow flipInX" data-wow-delay="0.4s">Technical Skills</h2>
        <div class="container">
          <div class="row">
            <!-- Skill item -->
            <div class="col-md-6 col-lg-3 col-xs-12">
              <div class="services-item wow fadeInDown" data-wow-delay="0.3s">
                <div class="icon">
                  <i class="icon-layers"></i>
                </div>
                <div class="services-content">
                  <h3>Language</h3>
                  <h6>c++, java, c, python</h6>
                </div>
              </div>
            </div>
            <!-- Skill item -->
            <div class="col-md-6 col-lg-3 col-xs-12">
              <div class="services-item wow fadeInDown" data-wow-delay="0.6s">
                <div class="icon">
                  <i class="icon-layers"></i>
                </div>
                <div class="services-content">
                  <h3>Platforms</h3>
                  <h6>Windows, Android</h6>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-lg-3 col-xs-12">
                <div class="services-item wow fadeInDown" data-wow-delay="0.6s">
                  <div class="icon">
                    <i class="icon-layers"></i>
                  </div>
                  <div class="services-content">
                    <h3>Web</h3>
                    <h6>HTML, CSS, Framework: Django</h6>
                  </div>
                </div>
              </div>
            <!-- Skill item -->
            <div class="col-md-6 col-lg-3 col-xs-12">
              <div class="services-item wow fadeInDown" data-wow-delay="0.9s">
                <div class="icon">
                  <i class="icon-layers"></i>
                </div>
                <div class="services-content">
                  <h3>Database</h3>
                  <h6>Oracle, MySQL</h6>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- Skill Section End -->
      <hr>
    <!-- Contact Section Start -->
    <section id="contact" class="section-padding">      
        <div class="contact-form">
          <div class="container">
            <div class="row contact-form-area wow fadeInUp" data-wow-delay="0.4s">
                <div class="col-md-3 col-lg-3 col-sm-12">
                    <div class="contact-block">
                    </div>
                  </div>
              <div class="col-md-6 col-lg-6 col-sm-12">
                <div class="footer-right-area wow fadeIn">
                  <h2>Contact Address</h2>
                  <div class="footer-right-contact">
                    <div class="single-contact">
                      <div class="contact-icon">
                        <i class="fa fa-map-marker"></i>
                      </div>
                      <p>E/56,Shahid Porimal Road, Bhaluka, Mymensingh, Bangladesh</p>
                    </div>
                    <br>  
                    <div class="single-contact">
                      <div class="contact-icon">
                        <i class="fa fa-envelope"></i>
                      </div>
                      <p><a href="mailto:shakil1473@gmail.com">shakil1473@gmail.com</a></p>
                    </div>
                    <br>
                    <div class="single-contact">
                      <div class="contact-icon">
                        <i class="fa fa-phone"></i>
                      </div>
                      <p>+8801742220701</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>   
      </section>
      <!-- Contact Section End -->
      <hr>
    <!-- Go to Top Link -->
    <a href="#" class="back-to-top">
      <i class="icon-arrow-up"></i>
    </a>

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="{% static 'resume/js/jquery-min.js' %}"></script>
    <script src="{% static 'resume/js/popper.min.js' %}"></script>
    <script src="{% static 'resume/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'resume/js/jquery.mixitup.js' %}"></script>
    <script src="{% static 'resume/js/jquery.counterup.min.js' %}"></script>
    <script src="{% static 'resume/js/waypoints.min.js' %}"></script>
    <script src="{% static 'resume/js/wow.js' %}"></script>
    <script src="{% static 'resume/js/jquery.nav.js' %}"></script>
    <script src="{% static 'resume/js/jquery.easing.min.js' %}"></script>
    <script src="{% static 'resume/js/nivo-lightbox.js' %}"></script>
    <script src="{% static 'resume/js/jquery.slicknav.js' %}"></script>
    <script src="{% static 'resume/js/main.js' %}"></script>
    <script src="{% static 'resume/js/form-validator.min.js' %}"></script>
    <script src="{% static 'resume/js/contact-form-script.min.js' %}"></script>
    <script src="{% static 'resume/js/map.js' %}"></script>
      
  </body>
</html>
